---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">My Project</div>
  </div>

  <HorizontalCard
  title="Metaversus"
  img="/Metaversus.png"
  desc="METAVERSUS is a SPA website that offers a virtual world experience for users, allowing them to explore different environments and engage with other users in real-time. With immersive graphics and interactive features, METAVERSUS offers a unique and engaging online experience. Additionally, METAVERSUS offers a range of environments for users to explore, from tropical beaches to bustling city streets, with new environments being added regularly. With its engaging features and interactive community, METAVERSUS is a great platform for users to escape from reality and have fun in a virtual world."
  url="https://next-metaverse-liart.vercel.app/"
  badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
  title="WaysGallery"
  img="/WaysGallery.png"
  desc="WaysGallery is a vibrant and dynamic online platform that celebrates creativity in all its forms. It is a community of artists, designers, photographers, and other creative professionals who showcase their work and connect with like-minded individuals from around the world. WaysGallery provides a space for individuals to share their portfolios, projects, and ideas with a wider audience, allowing them to gain recognition and exposure for their talents."
  url="https://fix-ways-gallery.vercel.app/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Housy"
    img="/Housy.png"
    desc="Housy is the go-to destination for all your rental housing needs. We offer a wide range of rental homes, from cozy apartments to spacious villas, to suit every budget and preference. Our user-friendly website allows you to easily search for properties in your desired location, and view high-quality photos and detailed information. With Housy, finding your perfect home has never been easier."
    url="https://housy-production.vercel.app/"
  />
  <div class="divider my-0"></div>
</BaseLayout>
